/*------------------------------------
// General style
------------------------------------*/
html, body, input, select, textarea {
    font-size: 1.05em;
    height: 100%;
}



/*------------------------------------
// Customized navbar
------------------------------------*/
.navbar-time {
    display: inline-block;
    margin-left: 15px;
}

@media (min-width: 768px) {
    .navbar-time {
        //display: inline-block;
        //border: 2px solid blue;
        margin-left: 20px;
        margin-top: 13px;
    }
}



/*------------------------------------
// Customized header background image
------------------------------------*/
.bg { 
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("/assets/img/background.jpg");
    
    margin-bottom: 100px;

    /*
    height: 600px;
    */
    height: auto;
    
    color: white;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*

@media (min-width: 768px) {
    .bg {
        max-height: 600px;        
    }
}

@media (max-width: 768px) {
    .bg {
        max-height: 300px;
    }
}
*/

.header-navbar {
    padding-top: 20px;
    padding-left: 20px;
    color: white;
    margin-bottom: 80px;
}

.header-navbar h3,
.header-navbar p
{
    display:inline;
    margin-right: 10px
}

.header-navbar p {
    font-size: 14px;
}

.header-title-container {
    margin-bottom: 100px;
}

.header-message-container {
    padding-bottom: 50px;
}


/*------------------------------------
// Customized grid item
------------------------------------*/
.grid-item-container {
    /*
    border-width: 1px;
    border-color: 'red';
    border-style: solid;
    */
    margin-bottom: 30px;
}

.grid-item-container img {
    object-fit: cover;
    width: auto;
    height: 100px;
}

/*
.grid-img-1 {
    object-fit: cover;
    width: 200px;
    height: auto;
}

.grid-img-2 {
    object-fit: cover;
    width: auto;
    height: 100px;
}

.grid-img-3 {
    object-fit: cover;
    width: 200px;
    height: auto;
}
*/

.grid-item-container h2,
.grid-item-container p {
    color: black;
}

/*------------------------------------
// Customized footer
------------------------------------*/
.footer {
    height: 200px;
}



/*------------------------------------
// Customized google map
------------------------------------*/
#blog-map {
    max-width: 1000px;
    height: 600px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #blog-map {
        height: 400px; 
    }
}

#map {
    margin: 0; 
    padding: 0; 
    height: 600px;
}



/*------------------------------------
// Others
------------------------------------*/
.firstline {
    font-family: 'Droid Serif', serif;
}